# Entorno virtual
.venv/
env/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de PyCharm
.idea/

# Archivos de configuración de VSCode
.vscode/

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de pruebas
htmlcov/
.coverage
.tox/
.pytest_cache/

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de bases de datos locales
*.sqlite3

# Archivos de exportación
*.env
.env.*